:root {
    --dark-background: #03071e;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.wrapper {
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}
.text-center {
    text-align: center;
}
.clearfix {
    float: none;
    clear: both;
}

.tbl-full {
    width: 100%;
}
table tr th {
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}
table tr td {
    padding: 1%;
}

.tbl-30 {
    width: 30%;
}

.btn-primary {
    background-color: #560BAD;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-primary:hover {
    background-color: #3A0CA3;
}
.btn-secondary {
    background-color: #2B9348;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-secondary:hover {
    background-color: #55A630;
}

.btn-danger {
    background-color: #9D0208;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-danger:hover {
    background-color: #6A040F;
}
form {
    font-size: 18px;
}
input[type = text], input[type = password] {
    width: 100%;
    padding: 6px 6px;
    margin: 4px 0;
    border: none;
    border-bottom: 1px solid #2B9348;
}

input[type = submit]{
    border: none;
    padding: 15px 30px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
.response {
    height: 7px;
    padding: 2px;
    margin-bottom: 0.3rem;
}

/*CSS for Menu/Header*/
.menu {
    text-align: center;
    border-bottom: 1px solid #03071E;
}
.menu ul {
    list-style-type: none;
}
.menu ul li {
    display: inline;
    padding: 1%;
}
.menu ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #DC2F02;

}
.menu ul li a:hover {
    color: aliceblue;
}

/*CSS for Main Content*/
.main-content {
    background-color: aliceblue;
    padding: 3% 0;
}
.col-4 {
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    text-align: center;
    float: left;
}



/*Footer Section*/
.footer {
    margin-top: 0;
    background-color: var(--dark-background);
    height: 35vh;
    color: aliceblue;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
footer #heading{
    margin-right: 1rem;
    flex: 1;
    font-family: 'Dancing Script', cursive;
    color: #DC2F02;
}
.payment-options {
    flex: 1;
}
.address {
    flex: 1;
}
.socials {
    flex: 1;
}
.socials i {
    margin: 0.313rem;
}