main {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #f3f3f3;
}
.menu {
    padding: 0 10px 30px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px 40px;
}
.heading {
    margin-bottom: 15px;
    padding: 30px 0;
    grid-column: 1/-1;
    text-align: center;
}
.menu-type {
    margin-bottom: 10px;
    padding: 30 0;
    grid-column: 1/-1;
    text-align: center;
}
.heading>h2 {
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 5px;
}
.food-items {
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
}
.food-items img {
    position: relative;
    width: 100%;
    height: 360px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.details {
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-row-gap: 15px;
}
.details-sub {
    display: grid;
    grid-template-columns: auto auto;
}
.details-sub>h5 {
    font-weight: 600;
    font-size: 18px;
}
.title {
    text-align: left;
}
.price {
    text-align: right;
}
.details>p {
    color: #6f6f6f;
    font-size: 14px;
    font-weight: 400;
    align-self: stretch;
}
.details>button {
    background-color: #6A040F;
    border: none;
    color: #ffffff;
    font-size: 16px;
    padding: 12px;
    font-weight: 600;
    border-radius: 5px;
    width: 180px;
}
.details>button:hover {
    cursor: pointer;
}

/**Styling the Cart*/
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.btn {
    text-align: center;
    vertical-align: middle;
    padding: 0.67em 0.67em;
    cursor: pointer;
}
.btn-primary {
    color: white;
    background-color: #6A040F;
    border: none;
    border-radius: 0.3em;
    font-weight: bold;
}
.btn-primary:hover {
    background-color: #FFBA08;
    transition: 0.7s;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}
.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}
.cart-row {
    display: flex;
}
.cart-item {
    width: 45%;
}
.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}
.cart-quantity {
    width: 35%;
}
.cart-item-title {
    color: #333;
    margin-left: 0.5em;
    font-size: 1.2em;
}
.cart-item-image {
    width: 75%;
    height: auto;
    border-radius: 10px;
}
.btn-danger {
    color: white;
    background-color: #6A040F;
    border: none;
    border-radius: 0.3em;
    font-weight: bold;
}
.btn-danger:hover {
    background-color: #FFBA08;
    transition: 0.7s;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}
.cart-row:last-child .cart-column {
    border: none;
}
.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}
.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}
.cart-total-price {
    color: #333;
    font-size: 1.1em;
}
.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}



/**
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5em;
}
.menu {
    font-size: 14px;
}
.menu-group-heading {
    margin: 0;
    padding-bottom: 1em;
    border-bottom: 2px solid #ccc;
}
.menu-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    padding: 1em 0;
}
.menu-item {
    display: flex;
}
.menu-item-image {
    height: 80px;
    width: 80px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
}
.menu-item-text {
    flex-grow: 1;
    text-align: start;
}
.menu-item-heading {
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.menu-item-name {
    margin-right: 1.5em;
}

#menu-button {
    margin: 1rem;
    padding: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border: none;
    border-radius: 1rem;
    background-color: #DC2F02;
    font-size: 1rem;
    min-height: 30px;
    max-height: 120px;
}
#menu-button:hover {
    background-color: #FFBA08;
    transition: 0.7s;
}

@media screen and (min-width: 992px){
    .menu {
        font-size: 16px;
    }

    .menu-group {
        grid-template-columns: repeat(2, 1fr);
    }
    .menu-item-image {
        height: 125px;
        width: 125px;
    }
}*/