:root {
    --dark-background: #03071e;
}
html {
    scroll-behavior: smooth;
    font-family: 'Source Sans Pro', sans-serif;
}
body {
    text-align: center;
}

header {
    background-color: var(--dark-background);
    padding: 2rem;
    color: aliceblue;
    box-shadow: 2px 2px 4px #6A040F;
    border-radius: 0.2rem;
    height: 20vh;

}
#heading {
    font-family: 'Dancing Script', cursive;
    float: left;
    font-size: 2rem;
    color: #DC2F02;
    margin-right: 5rem;
}
.navigation-list {
    list-style-type: none;
}
.nav-item {
    float: left;
    margin: 3rem;
}
.nav-item a {
    color: #DC2F02;
    border: none;
    border-radius: 0.3rem;
    text-decoration: none;
}
.nav-item a:hover {
    color: aliceblue;
    transition: 0.5s;
    z-index: 3;
    text-shadow: 3px 3px 3px #c7c1c1;
}
.order-btn {
    float: right;
    margin: 3rem;
    padding: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border: none;
    border-radius: 1rem;
    background-color: #DC2F02;
    font-size: 1rem;
    min-height: 30px;
    max-height: 120px;
}
.order-btn:hover {
    background-color: #FFBA08;
    transition: 0.7s;
}
.order-btn:active {
    cursor: pointer;
}

/**Home*/
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--dark-background);
    background-image: url('../resources/images/pizza-rosemary.jpg');
    background-size: 100%;
    height: 75vh;
    color: aliceblue;
    font-weight: 900;
    opacity: 0.9;
}
/**Options. This one works for the about page*/
#options {
    background-image: linear-gradient(180deg, #6A040F, #9D0208 ); 
    margin: 0;
    padding: 3px;
    color: aliceblue;
}

.options {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.option {
    flex: 1;
    text-align: center;
    line-break: strict;
    max-width: 30rem;
    margin: 7rem;
}
.option:hover {
    cursor: pointer;
}

/**Services class: In the index page*/

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5em;
}
.menu {
    font-size: 14px;
}
.menu-group-heading {
    margin: 0;
    padding-bottom: 1em;
    border-bottom: 2px solid #ccc;
}
.menu-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    padding: 1em 0;
}
.menu-item {
    display: flex;
}
.menu-item-image {
    height: 80px;
    width: 80px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
}
.menu-item-text {
    flex-grow: 1;
    text-align: start;
}
.menu-item-heading {
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.menu-item-name {
    margin-right: 1.5em;
}

#menu-button {
    margin: 1rem;
    padding: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border: none;
    border-radius: 1rem;
    background-color: #DC2F02;
    font-size: 1rem;
    min-height: 30px;
    max-height: 120px;
}
#menu-button:hover {
    background-color: #FFBA08;
    transition: 0.7s;
}

@media screen and (min-width: 992px){
    .menu {
        font-size: 16px;
    }

    .menu-group {
        grid-template-columns: repeat(2, 1fr);
    }
    .menu-item-image {
        height: 125px;
        width: 125px;
    }
}



/*Footer. In the index, about and menu pages*/
.footer {
    margin-top: 0;
    background-color: var(--dark-background);
    height: 35vh;
    color: aliceblue;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
footer #heading{
    margin-right: 1rem;
    flex: 1;
}
.payment-options {
    flex: 1;
}
.address {
    flex: 1;
}
.socials {
    flex: 1;
}
.socials i {
    margin: 0.313rem;
}