:root {
    --dark-background: #03071e;
}
html {
    scroll-behavior: smooth;
    font-family: 'Courier New', Courier, monospace;
}
body {
    text-align: center;
}

header {
    background-color: var(--dark-background);
    padding: 2rem;
    color: aliceblue;
    box-shadow: 2px 2px 4px #6A040F;
    border-radius: 0.2rem;
    height: 20vh;

}
#heading {
    font-family: 'Dancing Script', cursive;
    float: left;
    font-size: 2rem;
    color: #DC2F02;
    margin-right: 5rem;
}
.navigation-list {
    list-style-type: none;
}
.nav-item {
    float: left;
    margin: 3rem;
}
.nav-item a {
    color: #DC2F02;
    border: none;
    border-radius: 0.3rem;
    text-decoration: none;
}
.nav-item a:hover {
    color: aliceblue;
    z-index: 3;
    text-shadow: 3px 3px 3px #c7c1c1;
}